section#name
  form(role="form")
    .form-group
      label.col-sm-2.control-label(for="inputName") Name
      div.col-sm-9
        input.form-control#inputName(type="text" placeholder="Character Name")